h1{
  font-family: 'Rock Salt', cursive;
}

.dot1 {
  height: 200px;
  width: 200px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
   height: 75px;
  width: 75px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}

.dot3 {
   height: 150px;
  width: 150px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
}


.dot4 {
   height: 130px;
  width: 130px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
}


.dot5 {
   height: 100px;
  width: 100px;
  background-color: pink;
  border-radius: 50%;
  display: inline-block;
}


.dot6 {
   height: 350px;
  width: 350px;
  background-color: brown;
  border-radius: 50%;
  display: inline-block;
}

.dot7 {
   height: 50px;
  width: 50px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
}
.dot8 {
   height: 220px;
  width: 220px;
  background-color: #af970e;
  border-radius: 50%;
  display: inline-block;
}
.dot9 {
   height: 280px;
  width: 280px;
  background-color: #8d17e8;
  border-radius: 50%;
  display: inline-block;
}
.dot10 {
   height: 220px;
  width: 220px;
  background-color: #3dffd5;
  border-radius: 50%;
  display: inline-block;
}

.dot11 {
   height: 70px;
  width: 70px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;

}

span:hover
{
   -webkit-animation: bounce 1s infinite ease-in-out;
}


@-webkit-keyframes bounce {
    0%, 100% {
        margin-top: 60px;
    }
    40% {
        margin-top: 15px;
    }



